<style>

  .container{
    width: 99vw;
    height: 99vh;
    margin: 0 auto;
    text-align: center;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .time{
    font-size: 35px;
  }
  button{
    margin: 10px;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 20px;
    background-color: aquamarine;
  }
  button:hover{
    background-color:darkviolet;
    color:white;
  }
</style>



<div class="container">
  <h1>{{title}}</h1>
  <div class="timer">
    <div class="time">
      {{min}} : {{sec}}
    </div>
    <button  (click)="start()">
      <span *ngIf="!isStart">Start</span>
      <span *ngIf="isStart">Stop</span>
    </button>
    <button *ngIf="isStart" (click)="pause($event)"  >Wait</button>

    <button (click)="reset()">Reset</button>
  </div>


</div>
